<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ICouponMapper">
	<select id="findCoupon" resultType="CouponDTO" parameterType="CouponDTO">
		SELECT COUPON_SEQ, COUPON_STORE_SEQ, COUPON_NAME, COUPON_CNT, COUPON_MAX, COUPON_CONTENTS
		FROM OnlineCoupon.COUPON
		WHERE COUPON_SEQ = #{coupon_seq} AND COUPON_STORE_SEQ = #{coupon_store_seq}

	</select>


			
</mapper>